* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loader {
  width: 148px;
  height: 148px;
  border: 20px solid whitesmoke;
  border-bottom-color: aquamarine;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
